{% extends "account_template/base_account.html" %}
>{% block title %}Forget Password{% endblock title %}
{% block content %}
<div class="content">
  <div class="form-container">
    

    <h1 class="form-title">Reset Password</h1>
    <h5>Enter your email to reset password</h5>

    <form method="POST" class="login-form">
      {% csrf_token %}
      <div class="input-group">
        <label>Email</label>
        <input type="email" class="text-input" required name="email" placeholder="enter your email">
      </div>
      <button type="submit" class="login-submit">Send</button>
    </form>

    <div class="signup-text">
      <p>Not a member? <a href="{% url 'accounts:signup_view' %}" class="signup-link">Signup</a></p>
      <p>Remember your Password? <a href="{% url 'accounts:login_view' %}" class="signup-link">Login</a></p>
    </div>
  </div>
</div>
{% endblock content %}