{% extends 'account_template/base_account.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}
{% block linkstatic %}
<link rel="stylesheet" href="{% static 'css/account_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock linkstatic %}
{% block content %}
<div class="content">
  <div class="form-container">
    <h1 class="form-title">Reset Password</h1>
    <p class="form-subtitle">Enter your email to reset your password</p>

    <form method="POST" class="login-form">
      {% csrf_token %}
      <div class="input-group">

        <input type="email" class="text-input" required name="email" placeholder="Enter your email">
      </div>
      <button type="submit" class="login-submit">Send</button>
    </form>

    <div class="signup-text">
      <p>Don't have an account? <a href="{% url 'accounts:signup_view' %}" class="signup-link">Sign up now</a></p>
      <p>Remembered your password? <a href="{% url 'accounts:login_view' %}" class="signup-link">Login</a></p>
    </div>
  </div>
</div>
{% endblock content %}