{% extends 'account_template/base_account.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block linkstatic %}
<link rel="stylesheet" href="{% static 'css/account_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock linkstatic %}
{% block content %}
<div class="content">
    <div class="form-container">
      <h1 class="form-title">Reset Password</h1>

      <form method="POST" class="login-form">
        {% csrf_token %}

        <div class="input-group">
          <label for="password">New Password</label>
          <input type="password" id="password" name="password" class="text-input" placeholder="Enter new password" required>
      </div> 

      <div class="input-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="text-input" placeholder="Enter password again" required>
    </div>

    <button type="submit" class="login-submit">Save</button>
    <p class="signup-text">
          Remembered your password? <a href="{% url 'accounts:login_view' %}" class="signup-link">Login</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}