{% extends "account_template/base_account.html" %}
>{% block title %}Reset Password{% endblock title %}
{% block content %}
<div class="content">
    <div class="form-container">
      <h1 class="form-title">Reset Password</h1>

     
        
      <form method="POST" class="login-form">

        {% csrf_token %}

        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="text-input" placeholder="password" required>
      </div> 

      <div class="input-group">
        <label for="password">confirm password</label>
        <input type="password" id="password" name="confirm_password" class="text-input" placeholder="confirm password" required>
    </div>

    <button type="submit" class="login-submit">Save</button>
    <div class="signup_link">
          Remember your password? <a href="{% url 'accounts:login_view' %}">Login</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}