{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modern Multilingual Word List</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
       <link rel="stylesheet" href="{% static 'folder.css' %}">
    </head>
    <body>
        <div class="topnav">
            <div class="left-menu">
                
                <a href="{% url 'folders_words:generate_pdf'   folder.id %}">Download vocabulary</a>
                
            </div>
            <div class="search-container-all">
                <input type="text" placeholder="Search for ...">
                <button type="submit">Search</button>
            </div>

            <div class="dark-wight">
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="checkbox-label">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <span class="ball"></span>
                </label>
            </div>

            <div class="profile">
              
                <a href="#about">My Profile</a>
            </div>
            <button class="open-btn" onclick="openNav()">&#9776;</button>
        </div>

        <div class="side-menu" id="sideMenu">
            <a href="#home">Download vocabulary</a>
            <a href="#categories">Exam</a>
            <a href="#about">My Profile</a>
            <!-- إضافة "My Profile" للقائمة الجانبية -->
        </div>

        <div class="container">
            <h1>{{folder.name}}</h1>
            <div class="controls">
                <div class="search-container-word">
                    <input type="text" id="searchBox"
                        placeholder="Search for a word...">
                    <button id="searchButton">Search</button>
                </div>
               <div class="container-button-delete-all"> <button id="deleteAll">Delete Selected Words</button></div>
               <a href="{% url 'folders_words:add_word' folder.pk %}" class="add_word">Add word</a>
                <div class="select-all-container">
                    <label for="selectAllSmall" class="select-all-label">Select
                        All</label>
                    <input type="checkbox" id="selectAllSmall">
                </div>
            </div>
            <table class="word-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll"></th>
                       {% for la in languages %}
                       <th>{{la.type}}</th>
                       {% endfor %}
                       <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for translat in translates %}
                    <tr data-word-id="{{ translat.0.word.pk }}">
                        <td class="checkbox-column"><input type="checkbox">
                        {% for word in translat %}
                            <td data-label="Original">{{ word.translation }}
                                <i class="fas fa-volume-up pronounce-icon" onclick="playAudio('{{ word.voice.url }}')"></i>
                            </td>
                        {% endfor %}
                        <td data-label="Actions" class="action-buttons">
                            <button class="edit" onclick="location.href='{% url 'folders_words:edit_word' pk=folder.pk id=translat.0.word.pk %}'">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script>
        function openNav() {
            document.getElementById("sideMenu").style.display = "block";
        }

        document.getElementById("selectAll").addEventListener("change", function(e) {
            const checkboxes = document.querySelectorAll('.word-table tbody input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = e.target.checked;
            });
        });

        document.getElementById("selectAllSmall").addEventListener("change", function(e) {
            const checkboxes = document.querySelectorAll('.word-table tbody input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = e.target.checked;
            });
        });



           const deleteAllButton = document.getElementById('deleteAll');
        const selectAllCheckbox = document.getElementById('selectAllCheckbox');
        
        const wordTableRows = document.querySelectorAll('.word-table tbody tr');
        
      

       
       

        document.getElementById('deleteAll').addEventListener('click', function() {
            const selectedWordIds = [];
            document.querySelectorAll('.word-table tbody input[type="checkbox"]:checked').forEach(checkbox => {
                const row = checkbox.closest('tr');
                selectedWordIds.push(row.dataset.wordId);
            });
            
            if (selectedWordIds.length === 0) {
                alert("No words selected for deletion.");
                return;
            }
            fetch('{% url "folders_words:delete_selected_words" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}', 
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ word_ids: selectedWordIds }) 
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    
                    document.querySelectorAll('.word-table tbody input[type="checkbox"]:checked').forEach(checkbox => {
                        checkbox.closest('tr').remove();
                    });
                    document.getElementById('selectAll').checked = false;
                    alert("Selected words deleted successfully.");
                } else {
                    alert("Failed to delete selected words.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("An error occurred while deleting words.");
            });
        });


        document.querySelectorAll('.pronounce-icon').forEach(icon => {
            icon.addEventListener('click', function() {
           
            });
        });
         function playAudio(audioUrl) {
       
        const audio = new Audio(audioUrl);
        
        audio.play();
    }

      

    document.querySelectorAll('.delete').forEach(button => {
        button.addEventListener('click', function() {
            const row = button.closest('tr');
            const folderId = "{{ folder.pk }}";
            const wordId = row.dataset.wordId;

            fetch(`/delete_word/${folderId}/${wordId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    row.remove();  
                    alert('Word deleted');
                    location.reload();  
                } else {
                    alert('Failed to delete word');
                }
            });
        });
    });
        function openNav() {
            if( document.getElementById("sideMenu").style.display == "block")
             document.getElementById("sideMenu").style.display = "none";
            else
             document.getElementById("sideMenu").style.display = "block";
        }
    </script>
    </body>
</html>